<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hi<%= @user.name %></h1>
    <p>
      Your favourite show <%= @tv_show.name %> starts in 30 mins at <%= @tv_show.channel_name %>
    </p>
    <p>Stay tuned and have a great day!</p>
  </body>
</html>
